
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

html{
    background-color: #343434;
    color: white;
}

.ascii-art {
    color: #4AF626;
    font-family: monospace;
    white-space: pre;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 1vdh;
    padding:10px;
}

a{
    color: #64efd4;
}